<!-- trade detail temlate -->


{% block content %}

{% load bootstrap %}

<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>


{% endblock %}
