{% load tz %}
{% timezone "America/Chicago" %}
    


<style>
/*
  .spacing-nav {
   background-color: #E7F2F8;
   padding: 35px 35px 35px 35px;
} 


   .adjustments { 
      margin: 0 55px 0 55px;

  } 

 
  .adj-spacing-nav {

             padding: 25px 55px 25px 55px;
 }

*/

</style>

{% for trade_obj in trade_objs %}


<table width="75%" style="margin: 0 auto; max-width: 75%; min-width: 550px; padding: 50px 20px;">
<!-- <table width="550px" style="margin: 0 auto; max-width: 550px; min-width: 550px; padding: 50px 20px;"> -->
	<tr>
		<td>
			<table>	


			<!-- 	<tr>

					<table align="center">
					<tr>
						<th align="center">
							<img src="https://i.imgur.com/0bR4bmQ.jpg"/>

						</th>
					</tr>
				</table>

				</tr>
             -->

			<tr>	
			<td>
				<table align="center">
					<tr>
						<th align="center">
							<h3 style="font-size: 16px; color: #0a2c4c; font-family: 'Alfa Slab One', cursive; text-align: center;">	{{trade_obj.trade.trade_time}}  </h3>
						<!-- 	<h3 style="font-size: 20px; color: #0a2c4c; font-family:'Alfa Slab One', cursive; text-align: center;">DTE: {{dte}} </h3> -->
						</th>
					</tr>
				</table>			
				<table width="100%">
					<tr>

						{% if trade_obj.trade.trade_type == 'Rolling/Adjusting Trade' or trade_obj.trade.trade_type == 'ROLLING/ADJUSTING TRADE'  %}
						<th align="center" style="width: 33%; background-color: #ff5600; padding: 7px 30px; border-radius: 10px;">
		

			  			{% elif trade_obj.trade.trade_type == 'Opening Trade' or trade_obj.trade.trade_type == 'OPENING TRADE' %}
							<th align="center" style="width: 33%;  background-color: #78c043; padding: 7px 30px; border-radius: 10px;">


							 {% elif trade_obj.trade.trade_type == 'Closing Trade' or trade_obj.trade.trade_type == 'CLOSING TRADE'  %}
							<th align="center" style="width: 33%; background-color: #f32f24 ; padding: 7px 30px; border-radius: 10px;">

							{% elif trade_obj.trade.trade_type == 'Closing/Adjusting Trade' or trade_obj.trade.trade_type == 'CLOSING/ADJUSTING TRADE'  %}
							<th align="center" style="width: 33%; background-color: #ff5600 ; padding: 7px 30px; border-radius: 10px;">

							{% elif trade_obj.trade.trade_type == 'Opening Adjusting Trade' or trade_obj.trade.trade_type == 'OPENING ADJUSTING TRADE'  %}
							<th align="center" style="width: 33%; background-color: #ff5600 ; padding: 7px 30px; border-radius: 10px;">



						{% endif %}

							<h2 style="color: #fff; font-size: 16px; font-family: 'Alfa Slab One', cursive; padding: 5px 0; margin: 0; line-height: 20px; letter-spacing: 0.5px;">
								{{trade_obj.trade.trade_type}}

							</h2>
							<!-- <h2 style="color: #fff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; padding: 5px 0; margin: 0; line-height: 11px;    letter-spacing: 0.5px;">
								ADJUSTING
							</h2> -->
						</th>
						<th align="center" style="width: 33%; padding-top:20px">
							<h2 style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0; margin: 0; line-height: 20px;">
								Symbol:
							

							</h2>
							<h2 style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0; margin: 0; line-height: 20px;">
								
								{{trade_obj.trade.underlying}}

							</h2>


							<!-- </h2>
							<h2 style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; margin: 0 15px; line-height: 20px; margin: 0 26px;">
								
								{{trade.underlying}}

							</h2> -->

						</th>
						<th align="center" style="width: 33%; padding-top:20px;">
							<p style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0; margin: 0; line-height: 20px;">
								Initial Strategy:
							</p>
							<p style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0; margin: 0; line-height: 20px;">
								{{trade_obj.trade.initial_strategy}}
							</p>
						</th>
					</tr>
				</table>
				<table width="100%">
					<tr>
						<th align="left">
							<h2 style="display: table; color: #0f2e4c; font-size: 22px; font-family: 'Alfa Slab One', cursive; padding: 10px 0">
								{{trade_obj.trade.tos_string}}
							</h2>
						</th>
					</tr>
				</table>
				<table align="left" width="100%" style="width: 100%; background: #0f2e4c; background-color: #0f2e4c; padding: 15px; border-radius: 10px">
					<tr style="background: #0f2e4c;" >
						<!-- <th>
							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								IV Percentile:
							</h1>
							<p align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{trade.iv_percentile}}</p>						
						</th> -->

						<td>
							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								IV Percentile:
							</h1>
							<p align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{trade_obj.trade.iv_percentile}}</p>						
						</td>
						<td>

							{% if trade_obj.trade.prev_dte %}


							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								NEW DTE: <span align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{trade_obj.trade.new_dte}}</span>	
							</h1>

								<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								PREVIOUS DTE: <span align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{trade_obj.trade.prev_dte}}</span>	
							</h1>



							{% else %}


							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								DTE:
							</h1>
							<p align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{trade_obj.trade.new_dte}}</p>	



							{% endif %}

					
						</td>


					</tr>					
				</table>
				<table  align="left" width="100%" style="width: 100%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
					<tr>
						<th>
							<h1 align="left" style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								TRADE COMMENTS:
							</h1>
							<ul align="left" style="color: #0f2e4c; font-size: 16px; font-family: 'Alfa Slab One', cursive;  padding:15px; margin: 0; line-height: 22px">
								
								{{trade_obj.trade.comments}}

							</ul>						
						</th>
					</tr>					
				</table>
				</td>	
				</tr>	



					<tr>
						<td>
							
							<table class="table" align="left" width="100%" style="width: 100%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
							

								<thead>
									
								<tr align="left" width="100%" style="width: 100%; background: #d5d5d5; border-radius: 10px;">
								
						
						<h1 align="left" style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								LEGS:
							</h1>


							</tr>



									<tr align="left" style="color: #0f2e4c; font-size: 16px; font-family:'Alfa Slab One', cursive; padding:15px; margin: 0; line-height: 22px">
										<td>Trade ID</td>
										<td>  Contract </td>
										<td> Put/Call </td>
										<td> Volume </td>
										<td> BUY/SELL </td>
										<!-- <td> Price </td> -->
										<td>Strike </td>

									</tr>
								</thead>

								{% for trade_leg in trade_obj.legs %}
								<tr align="left" style="color: #0f2e4c; font-size: 16px; font-family:'Alfa Slab One', cursive; padding:15px; margin: 0; line-height: 22px" >
									<td>{{trade_leg.trade_id}}</td>
									<td>  {{trade_leg.contract}} </a></td>
									<td> {{trade_leg.put_call}}</td>
									<td> {{trade_leg.volume}} </td>
									<td> {{trade_leg.buy_sell}}</td>
									<!-- <td> {{trade_leg.price}} </td> -->
									<td> {{trade_leg.strike}}</td>
								</tr>

								{% endfor %}

								</table>



					</td>
				</tr>
				<!-- <tr>
					<td>
						<a href="https://navigationtrading.thinkific.com/pages/trade-alerts">View Full Trade Alerts Here </a>
					</td>
				</tr> -->

				<tr>
					<td>


		{% if trade_obj.child_trades %}
		
		<table class="table" align="center" width="75%" style="max-width: 75%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
							

								<thead>
									
								<tr align="center" width="100%" style="width: 100%; background: #d5d5d5; border-radius: 10px;">
								
						
						<h1 align="left" style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; margin: 0;">
							Adjustments/Updates
							</h1>

							</tr>

									<tr align="center" style="color: #0f2e4c; font-size: 16px; font-family:'Alfa Slab One', cursive; padding:15px; margin: 0; line-height: 22px">
										<td>  Initial Strategy </td>
										<td> Time</td>
										<td> TOS  </td>

									</tr>
								</thead>

						{% for trade_adj in trade_obj.child_trades %}
								<tr align="left" style="color: #0f2e4c; font-size: 16px; font-family:'Alfa Slab One', cursive; padding:15px; margin: 0; line-height: 22px" >
									<td>  {{trade_adj.trade.initial_strategy}} </a></td>
									<td> {{trade_adj.trade.trade_time}}</td>
									<td>{{trade_adj.trade.tos_string}} </td>
									
								</tr>

								{% endfor %}

								</table>

		<img style="max-width:800px;" src="https://admin.navigationtrading.com/media/{{trade_obj.trade.screen_shot}}"></img> 
		{% endif %} 

					</td>
				</tr>

			</table>
		</td>
	</tr>
</table>


		</div> 

           <hr style="margin: 25px 0 25px 0; background: #f5f5f5; " >
{% endfor %} 

{% endtimezone %}
