{% load tz %}
{% timezone "America/Chicago" %}

{% load static %}
<html>

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</head>



<body>
    


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Trades <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">New Manual Trade</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="/expiration">New Expiration Trade</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/profit">Enter Profits</a>
      </li>
        	</ul>
        </div>
        </nav>




    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              {% if user.is_authenticated %}

            {% block content %}
            


            {% endblock %}

            {% else %}

            <a href="/accounts/login/"> Please Login </a>

            {% endif %}


            </div>
              
        </div>
    </div>
</body>

</html>
{% endtimezone %} 
