{% load tz %} 
{% timezone "America/Chicago" %}


<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

@font-face {
font-family: 'Alfa Slab One';
font-style: normal;
font-weight: 400;
}
</style>

</head>
<body>


<table width="550px" style="margin: 0 auto; max-width: 550px; min-width: 550px; padding: 50px 20px;"> <!-- t1 closed -->
    <tr>
        <td>
            <table>  <!-- t2 -->

                <tr>
                    <table align="center">
                    <tr>
                        <th align="center">
                            <img src="https://i.imgur.com/0bR4bmQ.jpg"/>

                        </th>
                    </tr>
                </table>
                </tr>

            <tr>    
            <td>
                <table align="center">
                    <tr>
                        <th align="center">
                            <span style="font-weight:normal; font-size: 16px; color: #808080; font-family: 'Alfa Slab One'; text-align: center;"> {{trade.trade_time}}  </span>
                        <!--    <h3 style="font-size: 20px; color: #0a2c4c; font-family:'Alfa Slab One'; text-align: center;">DTE: {{dte}} </h3> -->
                        </th>
                    </tr>
                </table>            
                <table width="100%">
                    <tr>

                        {% if trade.trade_type == 'Rolling/Adjusting Trade' or trade.trade_type == "ROLLING/ADJUSTING TRADE" %}
                        <th align="center" style="width: 33%; font-weight:normal; background-color: #ff5600; padding: 7px 30px; border-radius: 10px; font-weight:normal;">
        

                        {% elif trade.trade_type == 'Opening Trade' or trade.trade_type == "OPENING TRADE" %}
                            <th align="center" style="width: 33%;  background-color: #78c043; padding: 7px 30px; border-radius: 10px; font-weight:normal">


                            {% elif trade.trade_type == 'Closing Trade' or trade.trade_type == "CLOSING TRADE" %}
                            <th align="center" style="width: 33%; background-color: #f32f24 ; padding: 7px 30px; border-radius: 10px; font-weight: normal;">

                            {% elif trade.trade_type == 'Expiration Trade' or trade.trade_type == "EXPIRATION TRADE" %}
                            <th align="center" style="width: 33%; background-color: #f32f24 ; padding: 7px 30px; border-radius: 10px; font-weight: normal;">

                            {% elif trade.trade_type == 'Closing/Adjusting Trade' or trade.trade_type == "CLOSING/ADJUSTING TRADE" %}
                            <th align="center" style="width: 33%; background-color: #ff5600 ; padding: 7px 30px; border-radius: 10px; font-weight:normal;">


                            {% elif trade.trade_type == 'Opening/Adjusting Trade' or trade.trade_type == "OPENING/ADJUSTING TRADE" %}
                            <th align="center" style="width: 33%; background-color: #ff5600 ; padding: 7px 30px; border-radius: 10px; font-weight: normal;">



                        {% endif %}

                            <h2 style="color: #fff; font-size: 18px; font-family: 'Alfa Slab One'; padding: 5px 0; margin: 0; line-height: 22px; letter-spacing: 0.5px; font-weight:normal;">
                                {{trade.trade_type}}

                            </h2>
                            <!-- <h2 style="color: #fff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; padding: 5px 0; margin: 0; line-height: 11px;    letter-spacing: 0.5px;">
                                ADJUSTING
                            </h2> -->
                        </th>
                        <th align="center" style="width: 33%; padding-top:20px">
                            
                            <h2 style="color: #0a2c4c; font-size: 35px; font-weight:normal; font-family: 'Alfa Slab One'; padding: 5px 0 20px 0; margin: 0; line-height: 20px;">
                                
                                {{trade.underlying}}

                            </h2>


                            <!-- </h2>
                            <h2 style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One'; margin: 0 15px; line-height: 20px; margin: 0 26px;">
                                
                                {{trade.underlying}}

                            </h2> -->

                        </th>
                        <th align="center" style="width: 33%; padding-top:0px;">
                            <p style="color: #808080; font-size: 14px; font-family: 'Alfa Slab One'; padding: 10px 0 5px 0; margin: 0; line-height: 20px; font-weight:normal;">
                                Initial Strategy:
                            </p>
                            <p style="color: #0f2e4c; font-size: 24px; font-family: 'Alfa Slab One'; padding: 0 0 30px 0; margin: 0; line-height: 20px; font-weight:normal;">
                                {{trade.initial_strategy}}
                            </p>
                        </th>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <th align="left">
                            <h2 style="display: table; color: #0f2e4c; font-size: 22px; font-family: 'Alfa Slab One'; padding: 10px 0;font-weight:normal;">
                                {{trade.tos_string}}
                            </h2>

                            {% if trade.tos_string2 %}
                            <h2 style="display: table; color: #0f2e4c; font-size: 22px; font-family: 'Alfa Slab One'; padding: 10px 0; font-weight:normal;">
                                {{trade.tos_string2}}
                            </h2>{% endif %}

                        </th>
                    </tr>
                </table>
                <table align="left" width="100%" style="width: 100%; background: #0f2e4c; padding: 15px; border-radius: 10px; font-weight:normal;">
                    <tr>
                        <!-- <th>
                            <h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One'; margin: 0;">
                                IV Percentile:
                            </h1>
                            <p align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One'; margin: 0;"> {{trade.iv_percentile}}</p>                      
                        </th> -->

                        <td>
                            <h1 align="left" style="color: #fff; font-size: 26px; font-weight:normal; font-family: 'Alfa Slab One'; margin: 0;">
                                IV Percentile:
                            </h1>
                            <p align="left" style="color: #8cc2f1; font-size: 26px; font-weight:normal; font-family: 'Alfa Slab One'; margin: 0;"> {{trade.iv_percentile}}</p>                      
                        </td>
                        <td>

                            {% if trade.trade_type != "Closing Trade" and trade.trade_type != "CLOSING TRADE" and trade.trade_type != "Closing/Adjusting Trade" and  trade.trade_type != "CLOSING/ADJUSTING TRADE" %}




                            {% if prev_dte %}


                            <h1 align="left" style="color: #fff; font-size: 26px; font-weight:normal; font-family: 'Alfa Slab One'; margin: 0;">
                                NEW DTE: <span align="left" style="color: #8cc2f1; font-size: 26px; font-weight:normal; font-family: 'Alfa Slab One'; margin: 0;"> {{new_dte}}</span>   
                            </h1>

                                <h1 align="left" style="color: #fff; font-size: 26px; font-weight:normal; font-family: 'Alfa Slab One'; margin: 0;">
                                PREVIOUS DTE: <span align="left" style="color: #8cc2f1; font-weight:normal; font-size: 26px; font-family: 'Alfa Slab One'; margin: 0;"> {{prev_dte}}</span> 
                            </h1>



                            {% else %}


                            <h1 align="left" style="color: #fff; font-size: 26px; font-weight:normal; font-family: 'Alfa Slab One'; margin: 0;">
                                DTE:
                            </h1>
                            <p align="left" style="color: #8cc2f1; font-size: 26px;  font-weight:normal; font-family: 'Alfa Slab One'; margin: 0;"> {{new_dte}}</p>  



                            {% endif %}
                        {% endif %}

                    
                        </td>


                    </tr>                   
                </table>
                <table  align="left" width="100%" style="width: 100%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
                    <tr>
                        <th>
                            <h1 align="left" style="color: #0f2e4c; font-weight:normal; font-size: 18px; font-family: 'Alfa Slab One'; margin: 0;">
                                TRADE COMMENTS:
                            </h1>
                            <ul align="left" style="color: #0f2e4c; font-weight:normal;  font-size: 16px; font-family: 'Alfa Slab One';  padding:15px; margin: 0; line-height: 22px">
                                
                                {{trade.comments|linebreaks}}

                            </ul>                       
                        </th>
                    </tr>                   
                </table>
         
                            
                <table class="table" align="left" width="100%" style="width: 100%; font-weight:normal; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
                        
                                                      <col width="15">  
                                                      <col width="15">  
                                                      <col width="15">  
                                                      <col width="15">  
                                                      <col width="40">  

                    <thead>
                        
                        <tr align="left" width="100%" style="width: 100%; font-weight:normal; background: #d5d5d5; border-radius: 10px;">
                        
                
                            <h1 align="left" style="color: #0f2e4c; font-size: 18px; font-weight:normal; font-family: 'Alfa Slab One'; margin: 0;">
                                LEGS:
                            </h1>


                        </tr>



                        <tr align="left" style="color: #0f2e4c; font-size: 16px; font-weight:normal; font-family:'Alfa Slab One'; padding:15px; margin: 0; line-height: 22px">
                            <td> BUY/SELL </td>
                            <!-- <td> Price </td> -->
                            <td> Put/Call </td>
                            <td>Strike </td>

                            <td> Quantity </td>
                            <td>  Contract </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trade_leg in legs %}
                                <tr align="left" style="color: #0f2e4c; font-weight:normal; font-size: 16px; font-family:'Alfa Slab One'; padding:15px; margin: 0; line-height: 22px" >
                                <td> {{trade_leg.buy_sell}}</td>
                                <td> {{trade_leg.put_call}}</td>
                                    <td> {{trade_leg.strike}}</td>
                                    <td>{% if trade_leg.volume > 0 %}+{% endif %}{{trade_leg.volume}} </td>
                                    <td>  {{trade_leg.contract}} </td>
                                </tr>

                                {% endfor %}
                    </tbody>

                </table>

            <!-- </td>
            </tr> -->
          <!--   </table>  t2 close -->
       <!--  </td> --> <!--  t1 td1 close -->

    <!-- </tr> --> <!-- t1 tr1 close -->
  <!--   <tr>
    <td>  -->
       <table>
       <tr>
            <td align="left" style="color: black; font-size: 12px; font-weight:normal; font-family: 'Alfa Slab One';  margin: 0;">

                Legal Disclaimer:  We are not registered investment advisors. NavigationALERTS are NOT trade recommendations. 

            </td>
        </tr>
        <tr>
            <td align="left" style="color: black; font-size: 12px; font-weight:normal; font-family: 'Alfa Slab One';  margin: 0;">

                Past results are not necessarily indicative of future results. The risk of loss in trading can be substantial, carefully consider the inherent risks of such an investment in light of your financial condition. Trading futures and options involves the risk of loss. Please consider carefully whether futures or options are appropriate to your financial situation. Only risk capital should be used when trading futures or options. 
            </td>
        </tr>

        <tr>
            <td align="left" style="color: black; font-size: 12px; font-weight:normal; font-family: 'Alfa Slab One';  margin: 0;">

                Before investing, you should read the Characteristics and Risks of Standardized Options. 
            </td>
        </tr>

        <tr>
            <td align="left" style="color: black; font-size: 12px; font-weight:normal; font-family: 'Alfa Slab One';  margin: 0;">

                All Rights Reserved Copywrite 2020 Navigation Financial, LLC
                    <a href="https://navigationtrading.com/legal/"> Privacy Policy | Terms of Service | Legal﻿ </a>
            </td>
        </tr>
    </table>
    



    </td> <!-- t1 td2 close -->

    </tr> <!-- t1 tr2 close -->
</td>
</tr>



</table> <!-- end t1 -->



</body>

</html>
{% endtimezone %}














