
<!-- trade detail temlate -->
{% extends 'base.html' %}

{% block content %}

{% load bootstrap %}
{% if errors %}

<div class="alert alert-danger" role="alert">
    Errors occurred when processing:
    <p> {{errors.text}} </p>
</div>

{% endif %}

<div class="row">

<h2> Select Trade for Expiration </h2>

<form action="/expiration/" method="post">

{{form|bootstrap}}


<input type="submit">

</div>


{% endblock %}