

<!-- trade detail temlate -->
{% extends 'base.html' %}

{% block content %}

{% load bootstrap %}
{% if errors %}

<div class="alert alert-danger" role="alert">
    Errors occurred when processing:
    <p> {{errors.text}} </p>
</div>

{% endif %}

<div class="row">

<h2> Enter Trade (Copied From TOS) </h2>
</div>
<div class="row">

<a href='/new-ghost/'>Click here if legless (one-off) Trade</a>
</div>
<div class="row">
	
<form action="/new/" method="post">

{{form|bootstrap}}


<input type="submit">

</div>


{% endblock %}