
{% extends 'base.html' %}
{% load bootstrap %}

{% load tz %}
{% timezone "America/Chicago" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center my-4">
	<h5 class="m-0">Table of trades</h5>
	<input type="text" class="form-control w-25 js-search" placeholder="Search...">
</div>

<table class="table js-trades-table">

<thead>
	<tr>
		<td>Trade ID</td>
		<td> Date </td>
		<td> Contract</td>
		<td> Trade Type </td>
		<td> Trade Details  </td>
		<td> Notification Status </td>


	</tr>
</thead>

{% for trade_obj in trade_objs %}

{% if trade_obj.is_api_trade %}

<tr style="background-color:#f9d695;">

{% else %}

<tr class="" >
{% endif %}
	<td>{{trade_obj.id}}</td>
  <td>{{trade_obj.trade_time}} </td>
	<td>{{trade_obj.underlying}}</td>
	<td>
		<a href="/tradedetail?trade={{trade_obj.id}}"> {{trade_obj.trade_type}}</a>
	</td>
	<td>{{trade_obj.buy_sell}} {{trade_obj.trade_type}} {{trade_obj.contract}} {{trade_obj.spread_volume}}  {{trade_obj.initial_strategy}}</td>
	<td>
		{% with trade_obj.notify_triggers.all.0 as notify_trigger %}
			{% if notify_trigger %}
		    {% if notify_trigger.status == 'IN PROGRESS' or notify_trigger.status == 'COMPLETE' %}
		    	Notifications Sent
		    {% else %}
		    	Notifications Pending
		    {% endif %}
			{% else %}
				Nothing Scheduled
			{% endif %}
		{% endwith %}
	</td>
</tr>

{% endfor %}
{% endblock %}

{% endtimezone %} 
