
<!-- trade detail temlate -->
{% extends 'base.html' %}

{% block content %}

{% load tz %} 
{% timezone "America/Chicago" %}
{% load bootstrap %}
{% if errors %}

<div class="alert alert-danger" role="alert">
    Errors occurred when processing:
    <p> {{errors.text}} </p>
</div>

{% endif %}


<h2> Enter Trade P&L Data Here </h2>

{% for obj in trade_objs %}

<div class="row" style="padding: 25px 0;">
<!-- worked but ugly <div class="row form-group" style="padding: 25px 0;"> -->
<div class="col-md-10">

<h3 class="">Trade: {{obj.trade.trade_time}} : {{obj.trade.underlying }}</h3>


<form action="/profit/" method="post">

{{obj.form|bootstrap}}


<input type="submit" class="btn btn-success">
</form>

</div>

</div>
{% endfor %}

{% endtimezone %}
{% endblock %}

