

{% load tz %} 
{% timezone "America/Chicago" %}


<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

@font-face {
font-family: 'Alfa Slab One';
font-style: normal;
font-weight: 400;
}
</style>

</head>
<body>


<table width="550px" style="margin: 0 auto; max-width: 550px; min-width: 550px; padding: 50px 20px;"> <!-- t1 closed -->
    <tr>
        <td>
            <table>  <!-- t2 -->

                <tr>
                    <table align="center">
                    <tr>
                        <th align="center">
                            <img src="https://i.imgur.com/0bR4bmQ.jpg"/>

                        </th>
                    </tr>
                </table>
                </tr>

            <tr>    
            <td>
                           
              
                <table width="100%">
                    <tr>
                        <th align="left">
                            <h2 style="display: table; color: #0f2e4c; font-size: 22px; font-family: 'Alfa Slab One'; padding: 10px 0;font-weight:normal;">
                               Your Navigation Trading Receipt
                            </h2>
                           

                        </th>
                    </tr>
                </table>
                
                <table  align="left" width="100%" style="width: 100%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 10px">
                    <tr>
                        <th>
                            <p align="left" style="color: #0f2e4c; font-weight:normal; font-size: 14px; font-family: 'Alfa Slab One'; margin: 0;">
                                Your subscription renewal reminder has been set.  We will email you 5 days prior your renewal date.
                            </p>
                                            
                        </th>
                    </tr>                   
                </table>
         
                 

            <!-- </td>
            </tr> -->
          <!--   </table>  t2 close -->
       <!--  </td> --> <!--  t1 td1 close -->

    <!-- </tr> --> <!-- t1 tr1 close -->
  <!--   <tr>
    <td>  -->
       <table style="margin-top:200px;">
       <tr>
            <td align="left" style="color: black; font-size: 12px; font-weight:normal; font-family: 'Alfa Slab One';  margin: 0;">

                Legal Disclaimer:  We are not registered investment advisors. NavigationALERTS are NOT trade recommendations. 

            </td>
        </tr>
        <tr>
            <td align="left" style="color: black; font-size: 12px; font-weight:normal; font-family: 'Alfa Slab One';  margin: 0;">

                Past results are not necessarily indicative of future results. The risk of loss in trading can be substantial, carefully consider the inherent risks of such an investment in light of your financial condition. Trading futures and options involves the risk of loss. Please consider carefully whether futures or options are appropriate to your financial situation. Only risk capital should be used when trading futures or options. 
            </td>
        </tr>

        <tr>
            <td align="left" style="color: black; font-size: 12px; font-weight:normal; font-family: 'Alfa Slab One';  margin: 0;">

                Before investing, you should read the Characteristics and Risks of Standardized Options. 
            </td>
        </tr>

        <tr>
            <td align="left" style="color: black; font-size: 12px; font-weight:normal; font-family: 'Alfa Slab One';  margin: 0;">

                All Rights Reserved Copywrite 2020 Navigation Financial, LLC
                    <a href="https://navigationtrading.com/legal/"> Privacy Policy | Terms of Service | Legal﻿ </a>
            </td>
        </tr>
    </table>
    



    </td> <!-- t1 td2 close -->

    </tr> <!-- t1 tr2 close -->
</td>
</tr>



</table> <!-- end t1 -->



</body>

</html>
{% endtimezone %}














