{% load tz %} 
{% timezone "America/Chicago" %}


<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
</style>

</head>
<body>



<table width="550px" style="margin: 0 auto; max-width: 550px; min-width: 550px; padding: 50px 20px;">
	<tr>
		<td>
			<table>	

				<tr>
					<table align="center">
					<tr>
						<th align="center">
							<img src="https://i.imgur.com/0bR4bmQ.jpg"/>

						</th>
					</tr>
				</table>
				</tr>

			<tr>	
			<td>
				<table align="center">
					<tr>
						<th align="center">
							<h3 style="font-size: 16px; color: #0a2c4c; font-family: 'Alfa Slab One', cursive; text-align: center;">	October 1, 2020 </h3>
						<!-- 	<h3 style="font-size: 20px; color: #0a2c4c; font-family:'Alfa Slab One', cursive; text-align: center;">DTE: {{dte}} </h3> -->
						</th>
					</tr>
				</table>			
				<table width="100%">
					<tr>

					
						<th align="center" style="width: 33%; background-color: #ff5600; padding: 7px 30px; border-radius: 10px;">
		


							<h2 style="color: #fff; font-size: 16px; font-family: 'Alfa Slab One', cursive; padding: 5px 0; margin: 0; line-height: 20px; letter-spacing: 0.5px;">
								Rolling/Adjusting Trade

							</h2>
							<!-- <h2 style="color: #fff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; padding: 5px 0; margin: 0; line-height: 11px;    letter-spacing: 0.5px;">
								ADJUSTING
							</h2> -->
						</th>
						<th align="center" style="width: 33%; padding-top:20px">
							<h2 style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0; margin: 0; line-height: 20px;">
								Symbol:
							

							</h2>
							<h2 style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0; margin: 0; line-height: 20px;">
								
								DIA

							</h2>


							<!-- </h2>
							<h2 style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; margin: 0 15px; line-height: 20px; margin: 0 26px;">
								
								{{trade.underlying}}

							</h2> -->

						</th>
						<th align="center" style="width: 33%; padding-top:20px;">
							<p style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0; margin: 0; line-height: 20px;">
								Initial Strategy:
							</p>
							<p style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0; margin: 0; line-height: 20px;">
								Iron Condor
							</p>
						</th>
					</tr>
				</table>
				<table width="100%">
					<tr>
						<th align="left">
							<h2 style="display: table; color: #0f2e4c; font-size: 22px; font-family: 'Alfa Slab One', cursive; padding: 10px 0">
								{{trade.tos_string}}
							</h2>
						</th>
					</tr>
				</table>
				<table align="left" width="100%" style="width: 100%; background: #0f2e4c; padding: 15px; border-radius: 10px">
					<tr>
						<!-- <th>
							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								IV Percentile:
							</h1>
							<p align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{trade.iv_percentile}}</p>						
						</th> -->

						<td>
							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								IV Percentile:
							</h1>
							<p align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{trade.iv_percentile}}</p>						
						</td>
						<td>

							{% if prev_dte %}


							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								NEW DTE: <span align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{new_dte}}</span>	
							</h1>

								<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								PREVIOUS DTE: <span align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{prev_dte}}</span>	
							</h1>



							{% else %}


							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								DTE:
							</h1>
							<p align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One', cursive; margin: 0;"> {{new_dte}}</p>	



							{% endif %}

					
						</td>


					</tr>					
				</table>
				<table  align="left" width="100%" style="width: 100%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
					<tr>
						<th>
							<h1 align="left" style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								TRADE COMMENTS:
							</h1>
							<ul align="left" style="color: #0f2e4c; font-size: 16px; font-family: 'Alfa Slab One', cursive;  padding:15px; margin: 0; line-height: 22px">
								
								{{trade.comments}}

							</ul>						
						</th>
					</tr>					
				</table>
				</td>	
				</tr>	



					<tr>
						<td>
							
							<table class="table" align="left" width="100%" style="width: 100%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
							

								<thead>
									
								<tr align="left" width="100%" style="width: 100%; background: #d5d5d5; border-radius: 10px;">
								
						
						<h1 align="left" style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; margin: 0;">
								LEGS:
							</h1>


							</tr>



									<tr align="left" style="color: #0f2e4c; font-size: 16px; font-family:'Alfa Slab One', cursive; padding:15px; margin: 0; line-height: 22px">
										<td>Trade ID</td>
										<td>  Contract </td>
										<td> Put/Call </td>
										<td> Volume </td>
										<td> BUY/SELL </td>
										<!-- <td> Price </td> -->
										<td>Strike </td>

									</tr>
								</thead>

								{% for trade_leg in legs %}
								<tr align="left" style="color: #0f2e4c; font-size: 16px; font-family:'Alfa Slab One', cursive; padding:15px; margin: 0; line-height: 22px" >
									<td>{{trade_leg.trade_id}}</td>
									<td>  {{trade_leg.contract}} </a></td>
									<td> {{trade_leg.put_call}}</td>
									<td> {{trade_leg.volume}} </td>
									<td> {{trade_leg.buy_sell}}</td>
									<!-- <td> {{trade_leg.price}} </td> -->
									<td> {{trade_leg.strike}}</td>
								</tr>

								{% endfor %}

								</table>



					</td>
				</tr>
				<tr>
					<td>
						<a href="https://navigationtrading.thinkific.com/pages/trade-alerts">View Full Trade Alerts Here </a>
					</td>
				</tr>


			</table>
		</td>
	</tr>
</table>


</body>

<div align="left" style="color: black; font-size: 12px; font-family: 'Alfa Slab One', cursive;  margin: 0;">
	<p>
Legal Disclaimer:  We are not registered investment advisors. NavigationALERTS are NOT trade recommendations. 
</p>

<p>

Past results are not necessarily indicative of future results. The risk of loss in trading can be substantial, carefully consider the inherent risks of such an investment in light of your financial condition. Trading futures and options involves the risk of loss. Please consider carefully whether futures or options are appropriate to your financial situation. Only risk capital should be used when trading futures or options. 
</p>

<p>
Before investing, you should read the Characteristics and Risks of Standardized Options. 
</p>

<p>
All Rights Reserved Copywrite 2020 Navigation Financial, LLC
<a href="https://navigationtrading.com/legal/"> Privacy Policy | Terms of Service | Legal﻿ </a>
</p>
</div>

</html>

{% endtimezone %}














