{% load tz %}
{% timezone "America/Chicago" %}
    


<style>

.tradecell {

	font-size: 18px; color: #0a2c4c; font-family: 'Alfa Slab One'; text-align: left;
}

.tradecell2 { text-align:left;
display: table; color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One'; padding: 10px 0; }
.trade-exit {
        margin-bottom: 0;
        padding-left:25px; 
	font-size: 12px; font-style: italic;
}

.symbol-strat {
    font-size:45px;
   color: #ff5600;
   background-color: #0f2e4c;
   border-radius: 10px;
}


</style>
<div style="margin-botom:25px">
</br>
</div>
{% for trade_obj in trade_objs %}




<table width="75%" style="margin: 0 auto; max-width: 75%; min-width: 550px; padding: 50px 20px;">
	<tr>
		<td>
			<table>	
				

			<tr>	
			<td>
				<table align="center">
					<tr style="border-radius: 10px;" >
						<th align="center" style="border-radius: 10px; color: #ff5600; width: 33%; padding-top:20px; background-color: #0f2e4c;"> <h2 class="tradecell2 symbol-strat" >
								
								{{trade_obj.trade.underlying}} - {{trade_obj.trade.initial_strategy}} </h2>
                                                   </th>
</tr></table>			
	<table width="100%">
					<tr>

						<th align="center" style="width: 20%;">


{% if trade_obj.trade.trade_time|date:"Y" == "2000" %} 

							<h2 class="tradecell2">	  </h2>
							
{% else %} 

                                                <h2 class="tradecell2">	{{trade_obj.trade.trade_time|date:"M d Y"}}  </h2>
{% endif %}


						<!--	<h2 style="font-size: 18px; color: #0a2c4c; font-family: 'Alfa Slab One', cursive; text-align: center;">	{{trade_obj.trade.trade_time}}  </h2> -->
						<!-- 	<h3 style="font-size: 20px; color: #0a2c4c; font-family:'Alfa Slab One', cursive; text-align: center;">DTE: {{dte}} </h3> -->
						</th>


						<th align="left" style="width: 20%;">
							<h2 class="tradecell2">
							<!--<h2 style="text-align:left; display: table; color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0"> -->

								{{trade_obj.trade.trade_type}}
							</h2>
						</th>


						<th align="left" style="width: 60%">
							<h2 class="tradecell2">
							<!-- <h2 style="display: table; color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0"> -->
								{{trade_obj.trade.tos_string}} {% if trade_obj.trade.tos_string2 %} AND {{trade_obj.trade.tos_string2}} {% endif %} 
							</h2>
						</th>


					</tr>

					{% if trade_obj.child_trades %}					

					{% for trade_adj in trade_obj.child_trades %}
						<tr >
												
{% if trade_adj.trade.trade_time|date:"Y" == "2000" %} 

							<td align="center" > <h2 class="tradecell2"></h2></td>
{% else %}
							<td align="center" > <h2 class="tradecell2">{{trade_adj.trade.trade_time|date:"M d Y" }}</h2></td>
{% endif %} 
								<td align="left" > <h2 class="tradecell2">{{trade_adj.trade.trade_type}}</h2></td>
							<td align="left"><h2 class="tradecell2">{{trade_adj.trade.tos_string}} {% if trade_adj.trade.tos_string2 %} AND {{trade_adj.trade.tos_string2}} {% endif %}


							</h2> </td>
												
						</tr>

					{% endfor %}
                                             
                                        {% endif %}
				</table>	
			
<div>

     {% if trade_obj.screen_shots.screen_shot %}
		<img style="max-width:800px; display:block; text-align:center; margin: auto; padding: 25px 0px;" src="https://admin.navigationtrading.com/media/{{trade_obj.screen_shots.screen_shot}}"></img> 

      {% endif %} 

	</div>
	<div>
     {% if trade_obj.screen_shots.screen_shot2 %}
		<img style="max-width:800px; display:block; text-align:center; margin: auto; padding: 25px 0px;" src="https://admin.navigationtrading.com/media/{{trade_obj.screen_shots.screen_shot2}}"></img>
      {% endif %} 
 
	</div>
	<div>
     {% if trade_obj.screen_shots.screen_shot3 %}
		<img style="max-width:800px; display:block; text-align:center; margin: auto; padding: 25px 0px;" src="https://admin.navigationtrading.com/media/{{trade_obj.screen_shots.screen_shot3}}"></img>
      {% endif %} 
 
	</div>
			</td>	
			</tr>	

			
				<!-- <tr
					<td>
						<a href="https://navigationtrading.thinkific.com/pages/trade-alerts">View Full Trade Alerts Here </a>
					</td>
				</tr> -->

			<tr>
			<td>

		</table>

<tr>
<p>Internal ID: {{trade_obj.trade.id}}</p></tr>

					</td>
				</tr>

			</table>
		</td>
	</tr>
</table>



           <hr style="margin: 25px 0 25px 0; background: #f5f5f5; " >
{% endfor %} 

{% endtimezone %}


