{% load tz %} 
{% timezone "America/Chicago" %}


<style>

table {
    margin-bottom: 0px;
}

table td {
    padding-top: 0px;
}
.tradecell {
	font-size: 18px; color: #0a2c4c; font-family: 'Alfa Slab One'; text-align: left;
}



  .spacing-nav {

    padding: 25px 0 25px 0 ;
} 

.trade-type-box{
         font-size: 24px;

	width: 33%;  padding: 0px; border-radius: 10px;
}

 .trade-type-box h2 {
 font-size: 24px;
}

.trade-type-box-closing{

	width: 33%;  padding: 0px; font-size:35px;  border-radius: 10px;
}


.trade-type-box-closing h2 {
   font-size:32px;
    line-height: 24px;


}

table .btn-primary {
    min-width: 16vw;
}
</style>

<div style="margin-botom:25px">
</br>
</div>

<h1 style="text-align: center; color: #0a2c4c; font-size: 28px; font-family: 'Alfa Slab One'; padding: 10px 0; margin: 0; line-height: 20px;">{% if month_year_str %} {{month_year_str}}
{% else %}

Current 
{% endif %}
</h1>


{% for trade_obj in trade_objs %}


<table width="75%" style="margin: 0 auto; max-width: 75%; min-width: 550px; padding: 50px 20px;">
<!-- <table width="550px" style="margin: 0 auto; max-width: 550px; min-width: 550px; padding: 50px 20px;"> -->
	<tr>
		<td>
			<table>	

				<tr>
				</tr>

			<tr>	
			<td>
				<table align="center" style="margin-bottom: 0;">
					<tr>
						<th align="center">
							<h3 style="font-size: 16px; color: #808080; font-family: 'Alfa Slab One' ; text-align: center;">	{{trade_obj.trade.trade_time|date:"d M Y f e"}}  </h3>
						</th>
					</tr>
				</table>			
				<table width="100%">
					<tr>

						{% if trade_obj.trade.trade_type == "Rolling/Adjusting Trade" or trade_obj.trade.trade_type == "ROLLING/ADJUSTING TRADE" %}
						<th align="center" style="background-color: #ff5600;" class="trade-type-box">
		

			  			{% elif trade_obj.trade.trade_type == "Opening Trade" or trade_obj.trade.trade_type == "OPENING TRADE" %}
							<th align="center" class="trade-type-box" style="background-color: #78c043;">

						{% elif trade_obj.trade.trade_type == "Closing Trade" or trade_obj.trade.trade_type == "CLOSING TRADE" %}
							<th align="center" class="trade-type-box-closing" style="background-color: #f32f24; font-size:35px;">

						{% elif trade_obj.trade.trade_type == "Expiration Trade" or trade_obj.trade.trade_type == "EXPIRATION TRADE" %}
                            				<th align="center" class="trade-type-box" style="width: 33%; background-color: #f32f24 ; padding: 7px 30px; font-size:28px; border-radius: 10px; font-weight: normal;">
                            	

						{% elif trade_obj.trade.trade_type == "Closing/Adjusting Trade" or trade_obj.trade.trade_type == "CLOSING/ADJUSTING TRADE" %}
							<th align="center" class="trade-type-box" style="background-color: #ff5600 ;">

							{% elif trade_obj.trade.trade_type == "Opening/Adjusting Trade" or trade_obj.trade.trade_type == "OPENING/ADJUSTING TRADE" %}
							<th align="center" class="trade-type-box" style="background-color: #ff5600 ; font-size:28px;">



						{% endif %}

							<h2 style="color: #fff; font-family: 'Alfa Slab One'; padding: 5px 0; margin: 0; line-height: 20px; letter-spacing: 0.5px;">
								{{trade_obj.trade.trade_type}}

							</h2>
							<!-- <h2 style="color: #fff; font-size: 16px; font-family: Arial, Helvetica, sans-serif; padding: 5px 0; margin: 0; line-height: 11px;    letter-spacing: 0.5px;">
								ADJUSTING
							</h2> -->
						</th>
						<th align="center" style="width: 33%; padding-top:20px">
							<h2 style="color: #0a2c4c; font-size: 60px; font-family: 'Alfa Slab One' ; padding: 0 0; margin: 0; line-height: 20px;">
								
								{{trade_obj.trade.underlying}}

							</h2>


							<!-- </h2>
							<h2 style="color: #0a2c4c; font-size: 18px; font-family: 'Alfa Slab One' ; margin: 0 15px; line-height: 20px; margin: 0 26px;">
								
								{{trade.underlying}}

							</h2> -->

						</th>
						<th align="center" style="width: 33%; padding-top:20px; padding-bottom:20px;">
							<p style="color: #808080; font-size: 14px; font-family: 'Alfa Slab One' ; padding: 10px 10px; margin: 0; line-height: 20px;">
								Initial Strategy
							</p>
							<p style="color: #0f2e4c; font-size: 34px; font-family: 'Alfa Slab One' ; padding: 0 0; margin: 0; line-height: 24px;">
								{{trade_obj.trade.initial_strategy}}
							</p>
						</th>
					</tr>
				</table>
				<table width="100%">
					<tr>
						<th align="left">
							<h2 style="display: table; color: #0f2e4c; font-size: 22px; font-family: 'Alfa Slab One' ; padding: 10px 0">
								{{trade_obj.trade.tos_string}}
							
{% if trade_obj.trade.tos_string2 %} AND {{trade_obj.trade.tos_string2}}
							</h2>
							
							{% endif %}
						</th>
					</tr>
				</table>
				<table align="left" width="100%" style="width: 100%; background: #0f2e4c; background-color: #0f2e4c; padding: 15px; border-radius: 10px">

							{% if trade_obj.trade.prev_dte %}
							<col width=33%>
							<col width=33%>
							<col width=33%>

                                                       {% else %}
                                <col width=30%>
                                 <col width=70%>

                                                             {% endif %}

                                        
					<tr style="background: #0f2e4c;" >
						<!-- <th>
							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One' ; margin: 0;">
								IV Percentile:
							</h1>
							<p align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One' ; margin: 0;"> {{trade.iv_percentile}}</p>						
						</th> -->

						<td>
							<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One';  margin: 0;">
								IV Percentile: {{trade_obj.trade.iv_percentile}}	
							</h1>				
						</td>
						<td>

                                                        

							{% if trade_obj.trade.trade_type != "Closing Trade" and trade_obj.trade.trade_type != "CLOSING TRADE" and trade_obj.trade.trade_type != "Closing/Adjusting Trade" and  trade_obj.trade.trade_type != "CLOSING/ADJUSTING TRADE" %}
							{% if trade_obj.trade.prev_dte %}


							<h1 align="center" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One' ; margin: 0;">
								NEW DTE: <span align="center" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One' ; margin: 0;"> {{trade_obj.trade.new_dte}} </span></h1> 
                                                </td>
                                               <td>

				<h1 align="center" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One' ; margin: 0;">
                               <span style="padding-left:30px" align='center'>  PREVIOUS DTE: {{trade_obj.trade.prev_dte}} </span>	
							</h1>
<!-- 
								<h1 align="left" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One' ; margin: 0;">
								PREVIOUS DTE: <span align="left" style="color: #8cc2f1; font-size: 26px; font-family: 'Alfa Slab One' ; margin: 0;"> {{trade_obj.trade.prev_dte}}</span>	
							</h1>
 -->


							{% else %}


							<h1 align="center" style="color: #fff; font-size: 26px; font-family: 'Alfa Slab One' ; margin: 0;">
								DTE: {{trade_obj.trade.new_dte}}
							</h1>



							{% endif %}
					{% endif %}

					
						</td>


					</tr>					
				</table>
				<table  align="left" width="100%" style="width: 100%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
					<tr>
						<th>
							<h1 align="left" style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One' ; margin: 0;">
								TRADE COMMENTS:
							</h1>
							<ul align="left" style="color: #0f2e4c; font-size: 16px; font-family: 'Alfa Slab One' ;  padding:15px; margin: 0; line-height: 22px">
								
								{{trade_obj.trade.comments|linebreaks}}

							</ul>						
						</th>
					</tr>					
				</table>
				</td>	
				</tr>	



					<tr>
						<td>
							
							<table class="table" align="left" width="100%" style="width: 100%; background: #d5d5d5; padding: 15px; border-radius: 10px; margin-top: 20px">
                                                      <col width="15">	
                                                      <col width="15">	
                                                      <col width="15">	
                                                      <col width="15">	

						      <col width="40">
								<thead>
									
								<tr align="left" width="100%" style="width: 100%; background: #d5d5d5; border-radius: 10px;">
								
						
						<h1 align="left" style="color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One' ; margin: 0;">
								LEGS:
							</h1>


							</tr>



									<tr align="left" style="color: #0f2e4c; font-size: 16px; font-family:'Alfa Slab One' ; padding:15px; margin: 0; line-height: 22px">
									
										<td> BUY/SELL </td>
                                                                       	<td> Put/Call </td>
										<!-- <td> Price </td> -->
										<td>Strike </td>

										<td> Quantity </td>
										<td>  Contract </td>
									</tr>
								</thead>

								{% for trade_leg in trade_obj.legs %}
								<tr align="left" style="color: #0f2e4c; font-size: 16px; font-family:'Alfa Slab One' ; padding:15px; margin: 0; line-height: 22px" >

									<td> {{trade_leg.buy_sell}}</td>
									
									<td> {{trade_leg.put_call}}</td>
 
									<td> {{trade_leg.strike}}</td>

									<td>{% if trade_leg.volume > 0%}+{% endif %}{{trade_leg.volume}} </td>
                                                                         <td>  {{trade_leg.contract}} </td>
								</tr>

								{% endfor %}

								</table>



					</td>
				</tr>
				<!-- <tr>
					<td>
						<a href="https://navigationtrading.thinkific.com/pages/trade-alerts">View Full Trade Alerts Here </a>
					</td>
				</tr> -->

<tr>
<p>Internal ID: {{trade_obj.trade.id}}</p></tr>

			</table>
		</td>

	</tr>
</table>

	

<hr>

{% endfor %} 

{% endtimezone %} 


<div style="text-align:center;">
<h3 style="font-family: 'Alfa Slab One'; font-size:26px; "> Previous Alerts - Past Months</h3>

{% for year in archive_trades_years %}

	<h3 style="font-family: 'Alfa Slab One'; font-size: 22px;"> {{year}} </h3>
	<table>
		{% for key, value in archive_trades.items %}


			{% if key == year %}
				

				{% for row in value %}

				<tr> 
					
						{% if row.0 %}
                                             <td>
						<a style="font-family: 'Alfa Slab One';" class="btn btn-primary" target="_blank" href="https://admin.navigationtrading.com/archives?year={{year}}&month={{ row.0 }}/">{{ row.0 }}</a> </td>
						{% endif %}

					{% if row.1 %}
					<td> <a style="font-family: 'Alfa Slab One';" class="btn btn-primary" target="_blank" href="https://admin.navigationtrading.com/archives?year={{year}}&month={{row.1}}/">{{row.1}}</a> </td>
											{% endif %}

					{% if row.2 %}
					<td> <a target="_blank" style="font-family: 'Alfa Slab One';" class="btn btn-primary" href="https://admin.navigationtrading.com/archives?year={{year}}&month={{row.2}}/">{{row.2}}</a> </td>
						{% endif %}



				</tr>



				{% endfor %} 

			{% endif %}

		{% endfor %} 

	</table>
	           <hr style="margin: 15px 0 15px 0; background: #f5f5f5; " >

{% endfor %}

	<h3 style="font-family: 'Alfa Slab One'; font-size: 22px;"> PDFs (Previous Years) </h3>

<table> 	
					<thead>

					</thead>



<tr> 
    <td> <a style="font-family: 'Alfa Slab One';" target="_blank" class="btn btn-primary" href="https://navigationtrading.nyc3.digitaloceanspaces.com/AlertsFromInceptionThruDec2020.pdf">Alerts Thru December 2020</a> </td>

	<!-- <td> <a style="font-family: 'Alfa Slab One';" target="_blank" class="btn btn-primary" href="https://navigationtrading.nyc3.digitaloceanspaces.com/ClosedTradesSinceInceptionThruNov2020.pdf">Closed Trades Thru November 2020</a> </td> -->

</tr>

	

	</table>

</div>

