{% load tz %}
{% load bootstrap %}
{% timezone "America/Chicago" %}
    

<h1 style="text-align: center; color: #0a2c4c; font-size: 28px; font-family: 'Alfa Slab One'; padding: 10px 0; margin: 0; line-height: 20px;">{% if month_year_str %} {{month_year_str}}
{% else %}

Current Month
{% endif %}
</h1>

<style>

.tradecell {
	font-size: 18px; color: #0a2c4c; font-family: 'Alfa Slab One'; text-align: left;
}

.tradecell2 { text-align:left;
display: table; color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One'; padding: 10px 0; }
.trade-exit {
        margin-bottom: 0;
        padding-left:25px; 
	font-size: 12px; font-style: italic;
}

.symbol-strat {
    font-size:45px;
   color: #ff5600;
   background-color: #0f2e4c;
   border-radius: 10px;
}

.trade-profit {
            padding-left:25px;
}

table .btn-primary {
    min-width: 16vw;
}

</style>
{% for trade_obj in trade_objs %}



<table width="75%" style="margin: 0 auto; max-width: 75%; min-width: 550px; padding: 50px 20px;">
	<tr>
		<td>
			<table>	
				<tr>
							<th align="left">
							<p class="trade-exit">Trade Exit - {{trade_obj.exit_date|date:"d M Y f e"}} </p>

							</th>
						</tr>

             

			<tr>	
			<td>
				<table align="center">
					<tr style="border-radius: 10px;" >
						<th align="center" style="border-radius: 10px; color: #ff5600; width: 33%; padding-top:20px; background-color: #0f2e4c;"> <h2 class="tradecell2 symbol-strat" >
								
								{{trade_obj.trade.underlying}} - {{trade_obj.trade.initial_strategy}} </h2>
                                                   </th>
</tr></table>			
	<table width="100%">
					<tr>

						<th align="center" style="width: 20%;">
							<h2 class="tradecell2">	{{trade_obj.trade.trade_time|date:"d M Y f e"}}  </h2>
						<!--	<h2 style="font-size: 18px; color: #0a2c4c; font-family: 'Alfa Slab One', cursive; text-align: center;">	{{trade_obj.trade.trade_time}}  </h2> -->
						<!-- 	<h3 style="font-size: 20px; color: #0a2c4c; font-family:'Alfa Slab One', cursive; text-align: center;">DTE: {{dte}} </h3> -->
						</th>


						<th align="left" style="width: 20%;">
							<h2 class="tradecell2">
							<!--<h2 style="text-align:left; display: table; color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0"> -->

								{{trade_obj.trade.trade_type}}
							</h2>
						</th>


						<th align="left" style="width: 60%">
							<h2 class="tradecell2">
							<!-- <h2 style="display: table; color: #0f2e4c; font-size: 18px; font-family: 'Alfa Slab One', cursive; padding: 10px 0"> -->
								{{trade_obj.trade.tos_string}} {% if trade_obj.trade.tos_string2 %} AND {{trade_obj.trade.tos_string2}} {% endif %}

							</h2>
						</th>


					</tr>

                                                 
					{% for trade_adj in trade_obj.child_trades %}
						<tr >
												
							<td align="center" > <h2 class="tradecell2">{{trade_adj.trade.trade_time|date:"d M Y f e"}}</h2></td>
								<td align="left" > <h2 class="tradecell2">{{trade_adj.trade.trade_type}}</h2></td>
							<td align="left"><h2 class="tradecell2">{{trade_adj.trade.tos_string}} {% if trade_adj.trade.tos_string2 %} AND {{trade_adj.trade.tos_string2}}  {% endif %}

							</h2> </td>
												
						</tr>

					{% endfor %}
				</table>	
			
<div>
 
		<h2 class="tradecell2 trade-profit" style="padding-left:25px;" >Total Profit: ${{trade_obj.trade.profit}}  </h2>
</div>
			</td>	
			</tr>	

			
				<!-- <tr
					<td>
						<a href="https://navigationtrading.thinkific.com/pages/trade-alerts">View Full Trade Alerts Here </a>
					</td>
				</tr> -->

			<tr>
			<td>

		</table>


<tr>
<p>Internal ID: {{trade_obj.trade.id}}</p></tr>
					</td>
				</tr>

			</table>
		</td>
	</tr>
</table>



           <hr style="margin: 25px 0 25px 0; background: #f5f5f5; " >
{% endfor %} 

<div style="text-align:center;">
<h3 style="font-family: 'Alfa Slab One'; font-size:26px; "> Closed Positions - Past Months</h3>

{% for year in archive_trades_years %}

	<h3 style="font-family: 'Alfa Slab One'; font-size: 22px;"> {{year}} </h3>
	<table>
		{% for key, value in archive_trades.items %}


			{% if key == year %}
				

				{% for row in value %}

				<tr> 
					
						{% if row.0 %}
						<td> 
						<a style="font-family: 'Alfa Slab One';" class="btn btn-primary" target="_blank" href="https://admin.navigationtrading.com/archives-closed?year={{year}}&month={{ row.0 }}/">{{ row.0 }}</a> </td>
						
						{% endif %}

					{% if row.1 %}
					<td> <a style="font-family: 'Alfa Slab One';" class="btn btn-primary" target="_blank" href="https://admin.navigationtrading.com/archives-closed?year={{year}}&month={{row.1}}/">{{row.1}}</a> </td>
											{% endif %}

					{% if row.2 %}
					<td> <a target="_blank" style="font-family: 'Alfa Slab One';" class="btn btn-primary" href="https://admin.navigationtrading.com/archives-closed?year={{year}}&month={{row.2}}/">{{row.2}}</a> </td>
						{% endif %}



				</tr>



				{% endfor %} 

			{% endif %}

		{% endfor %} 

	</table>
	           <hr style="margin: 15px 0 15px 0; background: #f5f5f5; " >

{% endfor %}

	<h3 style="font-family: 'Alfa Slab One'; font-size: 22px;"> PDFs (Previous Years) </h3>

<table> 	
					<thead>

					</thead>



<tr> 
   <!--  <td> <a style="font-family: 'Alfa Slab One';" target="_blank" class="btn btn-primary" href="https://navigationtrading.nyc3.digitaloceanspaces.com/OldAlertsfromNov2020ThruInception.pdf">Alerts Thru November 2020</a> </td>
 -->
	<td> <a style="font-family: 'Alfa Slab One';" target="_blank" class="btn btn-primary" href="https://navigationtrading.nyc3.digitaloceanspaces.com/ClosedTradeSinceInceptionThruDec2020.pdf">Closed Trades Thru December 2020</a> </td>

</tr>

	

	</table>

</div>

{% endtimezone %}
