

<!-- trade detail temlate -->
{% extends 'base.html' %}

{% block content %}

{% load bootstrap %}

{% load tz %}

{% load static %}

{% timezone "America/Chicago" %}
<div id='alert' class="alert alert-success alert-dismissible collapse" role="alert">

<button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="close_alert()" >
   Button
  </button>
</div>

<script type="text/javascript">



	function close_alert(){


		document.getElementById('alert').style.display = "none";
	}

	function handle_checkbox(leg_id){


		if (document.getElementById('leg-'+ leg_id).checked) {

			console.log("box is checked");
			var enabled = true;

		}
		else{

			console.log("box is not checked");
			var enabled = false;

		}
		console.log("enabled " + enabled);

			$.post("https://admin.navigationtrading.com/update-leg/",{"leg": leg_id, "enabled":enabled}, function(res){
				$('.alert').text('Success Updating Leg');

			// $('.alert').show();
			document.getElementById('alert').style.display = "block";

				console.dir(res);
				 window.setTimeout(function() {
                document.getElementById('alert').style.display = "none";
				

				 }, 2000);


	         } ); 
	}
	

</script>
<div>
<h2>Notification Status: {{notification_status}}</h2>
<h3>IV Percentile: {{iv_percentile}}</h3>

<table class="table">

<thead>
	<tr>
		<td>Trade ID</td>
		<td>Leg ID</td>
		<td>  Contract </td>
		<td> Put/Call </td>
		<td> Volume </td>
		<td> BUY/SELL </td>
		<td> Price </td>
		<td>Strike </td>
		<td>Leg Enabled for Alerts </td>



	</tr>
</thead>

{% for trade_leg in legs %}
<tr class="" >
	<td>{{trade_leg.trade_id}}</td>
	<td>{{trade_leg.id}}</td>
	<td>  {{trade_leg.contract}} </a></td>
	<td> {{trade_leg.put_call}}</td>
	<td> {{trade_leg.volume}} </td>
	<td> {{trade_leg.buy_sell}}</td>
	<td> {{trade_leg.price}} </td>
	<td> {{trade_leg.strike}}</td>
	
	{% if trade_leg.alerts_enabled %}
	<td> <input id="leg-{{trade_leg.id}}" type="checkbox"  checked  onclick="handle_checkbox('{{trade_leg.id }}')">
	</td>
	{% else %}
	<td> <input id="leg-{{trade_leg.id}}" type="checkbox"  onclick="handle_checkbox('{{trade_leg.id }}')">
	</td>
	{% endif %} 

</tr>

{% endfor %}

</table>

<form action="/tradedetail/"  enctype="multipart/form-data" method="post">
{{form|bootstrap}}

<input type="submit">
</form>

</div>

<div>
	<img src="/media/{{trade.screen_shot}}"/>

</div>


{% endtimezone %}



{% endblock %}

